.tender {
    max-width: 1440px;
    background-color: #FBFBFB;
    padding-bottom: 174px;

}
.tender__main {
    max-width: 1146px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tender__title {
    font-size: 42px;
    line-height: 43px;
    font-family: 'Geometria-bold';
}
.tender__vacancy {
    width: 854px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    margin-bottom: 22px;
    padding: 25px 0 20px 20px;
    cursor: pointer;
}
.tender__subtitle {
    margin: 0;
    font-size: 26px;
    line-height: 31px;
    color: #020303;
    font-family: 'Geometria-bold';
    transition: color 0.2s ease-in-out;
}
.tender__vacancy:hover {
    box-shadow: 0px 10px 20px rgba(114, 182, 43, 0.09);
}
.tender__vacancy:hover .tender__subtitle {
    color: #72B62B;
}
.tender__hover {
    position: absolute;
    right: 30px;
    width: 198px;
    height: 178px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0 0 0 37px;
    /*padding-bottom: 20px;*/
    border-left: 1px solid #CEECAF;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.tender__hover-title {
    font-family: 'Geometria-bold';
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 5px;
}

.tender__hover-description {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 30px;
    max-width: 167px;
}

.tender__hover-description:last-of-type{
    margin:0;
}

.tender__vacancy .tender__hover {
    transition: opacity 0.2s ease-in-out;
}
.tender__vacancy:hover .tender__hover {
    opacity: 1;

}
.tender_description {
    max-width: 412px;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    max-height: 34px;  
}

.tender__pay {
    font-size: 16px;
    line-height: 19px;
    font-family: 'Geometria-bold';
}
.tender__schedule {
    margin-top: 15px;
    font-size: 14px;
    line-height: 17px;
    color: #666666;
}
.tender__skills {
    max-width: 430px;
    line-height: 35px;
    display: flex;
    flex-wrap: wrap;
}
.tender__published {
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #C4C4C4;
}
.tender__information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 177px;
}

.tender__container {
    max-width: 542px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tender__image {
    margin: 0 auto;
    align-self: center;
    width: 136px;
    height: 135px;
}

.tender__container-vacancy-icon {
    width: 954px;
    display: flex;
}
.tender__container-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.tender__button-add {
    position: relative;
    background-color: #F5FFEB;
    box-shadow: 0px 14px 24px rgba(113, 181, 41, 0.15);
    border-radius: 60px;
    width: 242px;
    /* /height: 50px; */
    padding: 20px;
    text-align: center;
    color: #72B62B;
    font-family: 'Geometria-bold';
    cursor: pointer;
    align-self: flex-end;
    margin-right: 288px;
    transition: background-color 0.2s ease-in-out;
}
.tender__button-add:hover {
    background-color: #F1EA68;
    color: #5B8C3A;
}

.tender__checkmark {
    position: absolute;
    right: 25px;
    top: 20px;
    height: 17px;
    width: 17px;
    border-radius: 100%;
    /* border: 1px solid #72B62B; */
    background-color: #72B62B;
    /* background-image: url('../../../images/plus.svg'); */
    background-position: center;

}
.tender__plus {
    padding-bottom: 1px;
}

.tender__link {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
}