@import url(./__button-add/tender__button-add.css);
@import url(./__checkmark/tender__checkmark.css);
@import url(./__container-icon/tender__container-icon.css);
@import url(./__container-vacancy-icon/tender__container-vacancy-icon.css);
@import url(./__container/tender__container.css);
@import url(./__grafic/tender__grafic.css);
@import url(./__hover-description/tender__hover-description.css);
@import url(./__hover-title/tender__hover-title.css);
@import url(./__hover/tender__hover.css);
@import url(./__image/tender__image.css);
@import url(./__image/_one/tender__image_one.css);
@import url(./__image/_two/tender__image_two.css);
@import url(./__image/_three/tender__image_three.css);
@import url(./__main/tender__main.css);
@import url(./__pay/tender__pay.css);
@import url(./__plus/tender__plus.css);
@import url(./__published/tender__published.css);
@import url(./__skills/tender__skills.css);
@import url(./__subtitle/tender__subtitle.css);
@import url(./__title/tender__title.css);
@import url(./__vacancy/tender__vacancy.css);
@import url(./_description/tender_description.css);
@import url(./__schedule/tender__schedule.css);
@import url(./__information/tender__information.css);
@import url(./__link/tender__link.css);


.tender {
    max-width: 1440px;
    background-color: #FBFBFB;
    padding-bottom: 174px;

}





