.resume-current__filter-input {
  width: 264px;
  height: 40px;
  outline: none;
  margin-top: 8px;
  padding: 0 10px;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  border: none;
  outline: none;
  color: #72B62B;
}
.filter__input::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #72B62B;
}
.filter__input:hover {
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(113, 181, 41, 0.15);
}
