/*body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}*/

.slider__container {
    /*background: lightgrey;*/
    width: 1200px;
    height: 300px;
    border-radius: 15px;
    background-color: #FBFBFB;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin: 30px auto;
    margin-left: -35px;
    border: 1px solid rgba(206, 236, 175, 1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
}

.slider {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 300px;
    width: 1200px;
}

.slider__row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
    gap: 30px;
    position: relative;
    left: calc(-854px + 174px - 30px);
}

.slider__row.moving {
    transition: left .3s linear;
}


.slider__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgb(87, 133, 60);
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color:rgba(206, 236, 175, 1);
    opacity: 1;
}

.slider__button:hover {
 opacity: .6;
}

.slider__button-left {
    position: absolute;
    top: calc(50% - 20px);
    left: 145px;
}

.slider__button-right {
    position: absolute;
    top: calc(50% - 20px);
    right: 145px; 
}

.slider__span {
    display: block;
    font-size: 25px;
}