@import url(./__checkbox/vacancy__checkbox.css);
@import url(./__checkmark/vacancy__checkmark.css);
@import url(./__description/vacancy__description.css);
@import url(./__field-checkbox/vacancy__field-checkbox.css);
@import url(./__grafic/vacancy__grafic.css);
@import url(./__list/vacancy__list.css);
@import url(./__pay/vacancy__pay.css);
@import url(./__skills/vacancy__skills.css);
@import url(./__sublabel/vacancy__sublabel.css);
@import url(./__subtitle-description/vacancy__subtitle-description.css);
@import url(./__subtitle/vacancy__subtitle.css);
@import url(./__title/vacancy__title.css);

.vacancy {
    display: flex;
    max-width: 1146px;
    margin: 0 auto;
    padding-top: 72px;
    justify-content: space-between;
    padding-bottom: 82px;
}



