.tender_description {
  max-width: 412px;
  margin: 16px 0;
  font-size: 14px;
  line-height: 17px;
}

.tender_description_slider {
  margin: 0  10px 10px 0;
  max-height: 34px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tender_description_skills {
  color: #72B62B;
}

