.tender_description {
  max-width: 412px;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  max-height: 34px;
  display: block;
  text-overflow: ellipsis;
  /*white-space: nowrap;*/
  overflow: hidden;
  margin-bottom: 10px;
}
