.main__select {
  font-family: 'Geometria', Arial, sans-serif;
  font-weight: 400;
  min-width: 264px;
  min-height: 40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #fff;
  /*добавляем стилизацию элемента выбора по макету Figma*/
  appearance: none;
  background-image: url('../../../../images/Polygon.svg');
  background-repeat: no-repeat;
  background-position: 97% center;
}
