@import url(./__button/banner__button.css);
@import url(./__button/_bc/banner__button_bc.css);
@import url(./__contacts/banner__contacts.css);
@import url(./__container-contacts/_hidden/banner__container-contancts_hidden.css);
@import url(./__description/banner__description.css);
@import url(./__email/banner__email.css);
@import url(./__image/banner__image.css);
@import url(./__list/banner__list.css);
@import url(./__number/banner__number.css);
@import url(./__subtitle/banner__subtitle.css);
@import url(./__title/banner__title.css);

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 282px;
    padding: 40px;
    padding-top: 13px;
    margin-top: 66px;
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
}
