.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 282px;
    padding: 40px;
    padding-top: 13px;
    margin-top: 66px;

    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
}
.banner__image {
    width: 174px;
    height: 167px;
    margin: 0 auto;
}
.banner__title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 22px;
    line-height: 26px;
    font-family: 'Geometria-bold';
    
}
.banner__description {
    font-size: 16px;
    line-height: 19px;
}
.banner__subtitle {
    margin: 17px 0 2px;
    font-size: 22px;
    line-height: 28px;
    font-family: 'Geometria-bold';
    
}
.banner__button {
    background-color: #72B62B;  
    box-shadow: 0px 14px 24px rgba(113, 181, 41, 0.15);
    border-radius: 60px;
    border: 0;
    width: 282px;
    padding: 16px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-family: 'Geometria-bold';
    color: #FFFFFF;
    transition: background-color 0.2s ease-in-out;
    margin-top: 30px;
}
.banner__button:hover {
    background-color: #F1EA68;;
    color: #72B62B;
}
.banner__button_bc {
    background-color: rgba(114, 182, 43, 0.1);
    color: #72B62B;
}

.banner__list {
    list-style-type: none;
    margin-top: 9px;
}
.banner__contacts {
    font-size: 16px;
    line-height: 19px;
    font-family: 'Geometria-bold';
}
.banner__number {
    font-size: 16px;
    line-height: 19px;
}
.banner__email {
    font-size: 16px;
    line-height: 19px;
    color: #72B62B;
    margin-top: 6px;
    
}
.banner__container-contancts_hidden {
    display: none;
}