.add-vacancy__error {
  margin: 3px 0 0 0;
  box-sizing: border-box;
  height: 33px;
  text-align: left;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #FF0000;
  display: none;
  position: absolute;
}
