@import url(./__head/important-meetings__head.css);
@import url(./__title/important-meetings__title.css);
@import url(./__subtitle/important-meetings__subtitle.css);

.important-meetings {
  max-width: 1146px;
  margin: 0 auto;
  padding-bottom: 69px;
}
