@import url(./__box-field/add-vacancy__box-field.css);
@import url(./__checkbox/add-vacancy__checkbox.css);
@import url(./__checkbox-container/add-vacancy__checkbox-container.css);
@import url(./__checkmark/add-vacancy__checkmark.css);
@import url(./__container/add-vacancy__container.css);
@import url(./__container/_save-description/add-vacancy__container_save-description.css);
@import url(./__description/add-vacancy__description.css);
@import url(./__error/add-vacancy__error.css);
@import url(./__error/_type/add-vacancy__error_type_visible.css);
@import url(./__field-checkbox/add-vacancy__field-checkbox.css);
@import url(./__field/add-vacancy__field.css);
@import url(./__field/_margin/add-vacancy__field_margin.css);
@import url(./__field/_top-margin/add-vacancy__field_top-margin.css);
@import url(./__field-checkbox/add-vacancy__field-checkbox.css);
@import url(./__fieldset/add-vacancy__fieldset.css);
@import url(./__form/add-vacancy__form.css);
@import url(./__input/add-vacancy__input.css);
@import url(./__input/_type/add-vacancy__input_type_error.css);
@import url(./__input/_type/add-vacancy__input_type_non-financial.css);
@import url(./__input/_type/add-vacancy__input_type_text-area.css);
@import url(./__input/_size/add-vacancy__input_size.css);
@import url(./__input/_smsize/add-vacancy__input_smsize.css);
@import url(./__input-big/add-vacancy__input-big.css);
@import url(./__input-container/add-vacancy__input-container.css);
@import url(./__label/add-vacancy__label.css);
@import url(./__main/add-vacancy__main.css);
@import url(./__portrait/add-vacancy__portrait.css);
@import url(./__save-button/add-vacancy__save-button.css);
@import url(./__save-button/_invalid/add-vacancy__save-button_invalid.css);
@import url(./__save-description/add-vacancy__save-description.css);
@import url(./__save-img/add-vacancy__save-img.css);
@import url(./__select/add-vacancy__select.css);
@import url(./__string-container/add-vacancy__string-container.css);
@import url(./__sublabel/add-vacancy__sublabel.css);
@import url(./__subtitle/add-vacancy__subtitle.css);
@import url(./__subtitle-contact/add-vacancy__subtitle-contact.css);
@import url(./__title/add-vacancy__title.css);

.add-vacancy {
    max-width: 1146px;
    margin: 0 auto;
    padding: 80px 20px;
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
}
