.add-vacancy {
    max-width: 1146px;
    margin: 0 auto;
    padding: 80px 20px;
    background-color: #FBFBFB;
}

.add-vacancy__title {
    font-size: 46px;
    line-height: 56px;
    font-family: 'Geometria-bold';
    margin: 0 0 60px 0;
}

.add-vacancy__form {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 25px;
    margin: 0;
}

.add-vacancy__subtitle {
    margin: 0;
    font-size: 36px;
    line-height: 43px;
    font-family: 'Geometria-bold';
}

.add-vacancy__fieldset {
    margin: 0 0 25px 0;
    padding: 0;
    border: none;
    display: grid;
    row-gap: 35px;
}

.add-vacancy__portrait {
    grid-template-columns: 360px 260px;
    column-gap: 30px;
}

@media screen and (max-width: 720px) {
    .add-vacancy__portrait {
        grid-template-columns: 1fr;
    }
}

.add-vacancy__field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.add-vacancy__label {
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
    margin: 0 0 8px 0;
}

.add-vacancy__input-container {
    position: relative;
}

.add-vacancy__input {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    width: 360px;
    height: 40px;
    border: none;
    outline: none;
    padding: 12px;
    box-sizing: border-box;
}

.add-vacancy__input::placeholder {
    font-size: 14px;
    line-height: 17px;
    color: #E1E1E1;
    font-weight: normal;
    margin: 0;
}

.add-vacancy__input_type_non-financial {
    width: 260px;
}

@media screen and (max-width: 720px) {
    .add-vacancy__input_type_non-financial {
        width: 360px;
    }
}

/*стили дублируются - создан файл page__select.css, в 160 стоке дублирование класса add-resume__select*/
.add-vacancy__select {
    width: 264px;
    height: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    outline: none;
    border: none;
    color: #72B62B;
    padding: 10px;
    box-sizing: border-box;
    overflow: visible;
    appearance: none;
    background-image: url(../../../images/select_icon.svg);
    background-repeat: no-repeat;
    background-position: right 10px top 55%;
    background-size: 9px 6px;
    cursor: pointer;
}

@media screen and (max-width: 720px) {
    .add-vacancy__select  {
        width: 360px;
    }
}

.add-vacancy__description {
    grid-template-columns: 1fr;
}

.add-vacancy__input_type_text-area {
    width: 650px;
    height: 127px;
    resize: none;
    overflow: auto;
}

@media screen and (max-width: 720px) {
    .add-vacancy__input_type_text-area {
        width: 360px;
    }
}

.add-vacancy__sublabel {
    font-size: 14px;
    line-height: 100%;
    color: #666666;
    cursor: pointer;
    background-color: transparent;
    padding-left: 5px;
}

.add-vacancy__checkbox-container {
    margin: 0 0 8px 0;
    display: flex;
    gap: 5px;
    flex-direction: row;
    position: relative;
    align-items: end;
}

.add-vacancy__checkbox {
    opacity: 0;
    cursor: pointer;
    height: 17px;
    width: 17px;
    z-index: 1;
}

.add-vacancy__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #72B62B;
    cursor: pointer;
}

.add-vacancy__checkbox:checked ~ .add-vacancy__checkmark {
    background-color: #72B62B;
    background-image: url('../../../images/checked.svg');
    background-position: center;
}

.add-vacancy__save-button {
    margin: 0;
    padding: 0;
    width: 282px;
    height: 50px;
    background-color: #72B62B;
    box-shadow: 0 14px 24px rgba(113, 181, 41, 0.15);
    border-radius: 60px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    font-family: 'Geometria-bold';
    cursor: pointer;
    align-self: flex-end;
    transition: background-color 0.2s ease-in-out;
}

.add-vacancy__save-button:hover {
    background-color: #F1EA68;
    color: #5B8C3A;
}

.add-vacancy__save-button_invalid {
    background-color: transparent;
    border: 2px solid rgba(0,0,0,.2);
    color: #C5C5C5;
    box-shadow: none;
}

@media screen and (max-width: 720px) {
    .add-vacancy__save-button {
        align-self: auto;
    }
}

.add-vacancy__error {
    margin: 3px 0 0 0;
    box-sizing: border-box;
    height: 33px;
    text-align: left;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    color: #FF0000;
    display: none;
    position: absolute;
}

.add-vacancy__error_type_visible {
    display: block;
}

.add-vacancy__input_type_error {
    box-shadow: 0 10px 20px rgba(255, 0, 0, 0.2);
}
