.important-meetings__head {
  display: flex;
  justify-content: space-between;
  min-width: 320px;
  padding: 65px 24px 0;
}

@media screen and (max-width: 998px) {
  .important-meetings__head {
    flex-direction: column;
  }
}

@media screen and (max-width: 668px) {
  .important-meetings__head {
    align-items: center;
  }
}
