.checkselect {
  position: relative;
  display: inline-block;
  min-width: 200px;
  text-align: left;
}

.checkselect-control {
  position: relative;
  padding: 0 !important;
}
.checkselect-control select {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding-left: 5px;
  height: 30px;
  border: none;
  border-radius: 10px;
  color: #72B62B;
}
.checkselect-over {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}
.checkselect-popup {
  display: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  max-height: 200px;
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #dadada;
  border-top: none;
  background: #fff;
  z-index: 9999;
  overflow: auto;
  user-select: none;
}
.checkselect label {
  position: relative;
  display: block;
  margin: 0;
  padding: 4px 6px 4px 25px;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.1;
  cursor: pointer;
}
.checkselect-popup input {
  position: absolute;
  top: 5px;
  left: 8px;
  margin: 0 !important;
  padding: 0;
}
.checkselect-popup label:hover {
  background: #03a2ff;
  color: #fff;
}
.checkselect-popup fieldset {
  display: block;
  margin:  0;
  padding: 0;
  border: none;
}
.checkselect-popup fieldset input {
  left: 15px;
}
.checkselect-popup fieldset label {
  padding-left: 32px;
}
.checkselect-popup legend {
  display: block;
  margin: 0;
  padding: 5px 8px;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.1;
}