@import url(./__item/videocards__item.css);
@import url(./__video/videocards__video.css);
@import url(./__title/videocards__title.css);
@import url(./__video-background/videocards__video-background.css);
@import url(./__background-circle/videocards__background-circle.css);

* {
  outline: red solid 1px;
}

.videocards {
  display: flex;
  min-width: 320px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 60px 10px 0;
  margin: 0;
  list-style: none;
}
