.profile-org {
    max-width: 1440px;
    margin: 0 auto;

}
.profile-org__main {
    max-width: 1146px;
    margin: 0 auto;
    background-color: #FBFBFB;
    display: flex;
}
.profile-org__container-profile {
    background-color: #FBFBFB;
}
.profile-org__container {
    margin: 0 auto;
}
.profile-org__title {
    max-width: 1146px;
    margin: 0 auto;
    font-size: 46px;
    line-height: 56px;
    font-family: 'Geometria-bold';
    margin-top: 72px;
    margin-bottom: 41px;

}
.profile-org__subtitle {
    margin: 0;
    margin-top: 38px;
    margin-bottom: 4px;
    font-size: 36px;
    line-height: 43px;
    font-family: 'Geometria-bold';
}
.profile-org__subtitle-contact {
    font-size: 18px;
    line-height: 22px;
    margin-top: 40px;
    margin-bottom: 0;
}
.profile-org__label {
    display: block;
    font-size: 14px;
    line-height: 17px;

    margin-top: 20px;
    margin-bottom: 7px;

}
.profile-org__input {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    width: 336px;
    height: 16px;
    border: none;
    outline: none;
    padding: 12px;
}
.profile-org__input::placeholder {
    font-size: 14px;
    line-height: 17px;
    color: #E1E1E1;
    font-weight: normal;
    margin: 0;

}
.profile-org__form {
    max-width: 758px;
}
.profile-org__string-container {
    display: flex;
    justify-content: space-between;
}
.profile-org__input_size {
    width: 734px;
    height: 68px;
}
.profile-org__save-button {
    width: 282px;
    height: 50px;
    background-color: #72B62B;
    box-shadow: 0px 14px 24px rgba(113, 181, 41, 0.15);
    border-radius: 60px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    outline: none;
    margin-top: 32px;
    font-family: 'Geometria-bold';
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.profile-org__save-button:hover {
    background-color: #F1EA68;
    color: #5B8C3A;

}
.profile-org__load-container {
    position: relative;
    width: 212px;
    height: 206px;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin-left: 83px;
    margin-top: 129px;

}
.profile-org__load-button {
    position: absolute;
    top: 88px;
    left: 15px;
    width: 182px;
    height: 32px;
    background-color: #72B62B;
    box-shadow: 0px 14px 24px rgba(113, 181, 41, 0.15);
    border-radius: 60px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-family: 'Geometria-bold';
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.profile-org__load-button:hover {
    background-color: #F1EA68;
    color: #5B8C3A;
}
.profile-org__load-img {
    margin: 42px;
}
.profile-org__container {
    position: relative;
}
.profile-org__container_save-description {
    position: absolute;
    display: flex;
    bottom: 19px;
}
.profile-org__save-img {
    margin: 0 10px 0 20px;
}
.profile-org__save-description {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #C1C1C1;

}
