.tender {
  max-width: 1146px;
  background-color: #FBFBFB;
  padding: 72px 0 174px;
  margin: auto;
}
.tender__section-title {
margin: 0 0 30px;
font-size: 36px;
line-height: 1.2;
color: #020303;
}
.tender__main {
  max-width: 854px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.tender__contents {
margin: auto;
display: flex;
justify-content: space-between;
gap: 30px;
}
.tender__filter {
max-width: 264px;
display: flex;
flex-direction: column;
gap: 20px;
}
.tender__pages {
margin: 62px auto;
}
.tender__page-button {
width: 30px;
height: 35px;
background: #FFFFFF;
box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08);
border-radius: 6px;
border: none;
color: #72B62B;
}
.tender__title {
  font-size: 42px;
  line-height: 43px;
}
.tender__card {
  max-width: 854px;
  height: 220px;
  padding-left: 20px;
  display: flex;
  position: relative;
  justify-content: space-between;
  gap: 20px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  cursor: pointer;

}
.tender__subtitle {
  margin: 0;
  font-size: 26px;
  line-height: 31px;
  color: #020303;
  transition: color 0.2s ease-in-out;
}
.tender__card:hover {
  box-shadow: 0px 10px 20px rgba(114, 182, 43, 0.09);
}
.tender__card:hover .tender__subtitle {
  color: #72B62B;
}
.tender__hover {
  position: absolute;
  right: 0;
  width: 198px;
  height: calc(100% - 61px);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0 37px;
  padding-bottom: 20px;
  border-left: 1px solid #CEECAF;
  opacity: 0;
}

.tender__hover-title {
  font-family: 'Geometria-bold';
  font-size: 14px;
  line-height: 17px;
  margin-top: 31px;


}
.tender__hover-description {
  font-size: 16px;
  line-height: 19px;
  margin-top: 5px;
  max-width: 167px;
}
.tender__hover:first-child() {
  margin-bottom: 31px;
}
.tender__description {
  width: 412px;
  max-height: 40px;
  margin: 16px 0;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.tender__pay {
  font-size: 16px;
  line-height: 19px;
  font-family: 'Geometria-bold';
}
.tender__grafic {
  margin-top: 15px;
  font-size: 14px;
  line-height: 17px;
  color: #666666;
}
.tender__skills {
  max-width: 430px;
  line-height: 35px;
}
.tender__published {
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #C4C4C4;
}
.tender__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tender__image {
  width: 264px;
  height: 220px;
  border-radius: 10px;
  object-fit: cover;
  object-position: top;
}
.tender__container-vacancy-icon {
  width: 954px;;
  display: flex;
}
.tender__container-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.tender__button-add {
  position: relative;
  background-color: #F5FFEB;
  box-shadow: 0px 14px 24px rgba(113, 181, 41, 0.15);
  border-radius: 60px;
  width: 242px;
  /* /height: 50px; */
  padding: 20px;
  text-align: center;
  color: #72B62B;
  font-family: 'Geometria-bold';
  cursor: pointer;
  align-self: flex-end;
  margin-right: 288px;
  transition: background-color 0.2s ease-in-out;
}
.tender__button-add:hover {
  background-color: #F1EA68;
  color: #5B8C3A;
}
.tender__checkmark {
  position: absolute;
  right: 25px;
  top: 20px;
  height: 17px;
  width: 17px;
  border-radius: 100%;
  /* border: 1px solid #72B62B; */
  background-color: #72B62B;
  /* background-image: url('../../../images/plus.svg'); */
  background-position: center;

}
.tender__plus {
  padding-bottom: 1px;
}
.filter__title {
margin: 0 0 8px;
font-size: 14px;
font-weight: 400;
line-height: 1.2;
}
.filter__input {
width: 264px;
height: 40px;

box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
border-radius: 10px;
border: none;
outline: none;
color: #E1E1E1;

}
.filter__input::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #E1E1E1;
  font-weight: normal;
  margin-left: 10px;

}
.filter__input:hover {
cursor: pointer;
}
.filter__option {
margin: 10px 20px;
outline: none;
}
.filter__button {
margin-top: 34px;
width: 265px;
height: 50px;
background: #72B62B;
box-shadow: 0px 14px 24px rgba(113, 181, 41, 0.15);
border-radius: 60px;
border: none;
color: #FFF;
font-weight: 700;
font-size: 16px;
line-height: 20px;
transition: background-color 0.2s ease-in-out;
}
.tender__button:hover {
  background-color: #F1EA68;
  color: #5B8C3A;
  cursor: pointer;
}

