.filter__search-button {
  min-width: 264px;
  min-height: 50px;
  margin-top: 69px;
  background: #72b62b;
  color: #fff;
  box-shadow: 0 14px 24px rgba(113, 181, 41, 0.15);
  border-radius: 60px;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.filter__search-button:last-child {
    margin-top: 20px;
}

.filter__search-button:hover {
  background: #F1EA68;
  color: #5B8C3A;
}
