.add-vacancy__input {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  width: 336px;
  height: 16px;
  border: none;
  outline: none;
  padding: 12px;
  margin-right: 35px;
}

.add-vacancy__input::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #E1E1E1;
  font-weight: normal;
  margin: 0;
}
