.hidden {
  display: none;
}

.pagination-container {
  visibility: hidden;
  display: flex;
  align-items: center;
  margin: 42px 0 -102px;
  justify-content: center;
}

.pagination-container_active {
  visibility: visible;
}

.pagination-number,
.pagination-button{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #999AA8;
  width: 30px;
  height: 35px;
  margin-right: 14px;
}

.pagination-button:last-of-type{
  margin-right: 0;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: #fff;
  border-radius: 6px;
  color: #72B62B;
}

.pagination-button {
  background: #FFFFFF;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.pagination-button:hover {
  color: #72B62B;
}

.pagination-number.active {
  background: #72B62B;
  border-radius: 6px;
  color: #fff;
}

.tender-li {
  list-style-type: none;
  max-width: 850px;
}
