.header__button {
  width: 127px;
  height: 50px;
  align-self: right;
  margin: 0;
  background-color: #5A8B3A;
  border: 2px solid #7DB35B;
  box-sizing: border-box;
  border-radius: 60px;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  outline: none;
  cursor:pointer;
  transition: background-color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.header__button:hover {
  background-color: #F1EA68;
  color: #5B8C3A;
}
