@import url(../vendor/normalize.css);

/*Шрифты*/
@import url(../vendor/fonts/Geometria/fonts.css);

/*Page*/
@import url(./blocks/page/page.css);

@import url(./blocks/ndash/_color/ndash_color.css);
@import url(./blocks/description/_border/description_border.css);
@import url(./blocks/main-page/main-page.css);
@import url(./blocks/add-resume/add-resume.css);
@import url(./blocks/add-vacancy/add-vacancy.css);
@import url(./blocks/banner/banner.css);
@import url(./blocks/defualt/defualt.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/header/header.css);
@import url(./blocks/profile-org/profile-org.css);
@import url(./blocks/tender/tender.css);
@import url(./blocks/vacancy/vacancy.css);
@import url(./blocks/slider/slider.css);
@import url(./blocks/important-meetings/impotrant-meetings.css);
@import url(./blocks/videocards/videocards.css);
