@import url(./blocks/resume/__subtitle/resume__subtitle.css);
@import url(./blocks/resume/__title/resume__title.css);
@import url(./blocks/resume/__about/resume__about.css);
@import url(./blocks/resume/__additional-info-container/resume__additional-info-container.css);
@import url(./blocks/resume/__additional-info-list/resume__additional-info-list.css);
@import url(./blocks/resume/__checkmark/resume__checkmark.css);
@import url(./blocks/resume/__conditions-container/resume__conditions-container.css);
@import url(./blocks/resume/__contact/resume__contact.css);
@import url(./blocks/resume/__hobbies/resume__hobbies.css);
@import url(./blocks/resume/__location-and-age/resume__location-and-age.css);
@import url(./blocks/resume/__motivation-item/resume__motivation-item.css);
@import url(./blocks/resume/__motivation-list/resume__motivation-list.css);
@import url(./blocks/resume/__motivation-ndash/resume__motivation-ndash.css);
@import url(./blocks/resume/__motivation/resume__motivation.css);
@import url(./blocks/resume/__name/resume__name.css);
@import url(./blocks/resume/__picture-container/resume__picture-container.css);
@import url(./blocks/resume/__picture/resume__picture.css);
@import url(./blocks/resume/__prev-job-description/resume__prev-job-description.css);
@import url(./blocks/resume/__prev-job-name/resume__prev-job-name.css);
@import url(./blocks/resume/__prev-job-time/resume__prev-job-time.css);
@import url(./blocks/resume/__pros-cons-container/resume__pros-cons-container.css);
@import url(./blocks/resume/__pros-cons-text/resume__pros-cons-text.css);
@import url(./blocks/resume/__salary/resume__salary.css);
@import url(./blocks/resume/__schedule/resume__schedule.css);
@import url(./blocks/resume/__schedules/resume__schedules.css);
@import url(./blocks/resume/__skill/resume__skill.css);
@import url(./blocks/resume/__skills-list/resume__skills-list.css);
@import url(./blocks/resume/__skills/resume__skills.css);
@import url(./blocks/resume/__subtext/resume__subtext.css);
@import url(./blocks/resume/__subtext/_size/resume__subtext_size_l.css);
@import url(./blocks/resume/__subtext/_size/resume__subtext_size_xl.css);

@import url(./blocks/resume/__subtitle/_size/resume__subtitle_size_l.css);
@import url(./blocks/resume/__subtitle/_size/resume__subtitle_size_xl.css);

@import url(./blocks/resume/__work-experience-container/resume__work-experience-container.css);
@import url(./blocks/resume/__work-experience-item/resume__work-experience-item.css);
@import url(./blocks/resume/__work-experience-list/resume__work-experience-list.css);
@import url(./blocks/resume/__work-experience-title/resume__work-experience-title.css);
@import url(./blocks/resume/resume.css);
@import url(./blocks/contact/__button/contact__button.css);
@import url(./blocks/contact/__button/_active/contact__button_active.css);
@import url(./blocks/contact/__container/contact__container.css);
@import url(./blocks/contact/__container/_visible/contact__container_visible.css);
@import url(./blocks/contact/__list/contact__list.css);
@import url(./blocks/contact/__social-link/contact__social-link.css);
@import url(./blocks/contact/__title/contact__title.css);
@import url(./blocks/contact/__title/_no-left-padding/contact__title_no-left-padding.css);
@import url(./blocks/contact/contact.css);