.pagination__button {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  /*background-color: transparent;*/
  border: none;
  cursor: pointer;
  color: #999AA8;
  width: 30px;
  height: 35px;
  margin-right: 14px;
  background: #FFFFFF;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.pagination__button:last-of-type{
  margin-right: 0;
}

.pagination__button:not(.disabled):hover {
  background: #fff;
  border-radius: 6px;
  color: #72B62B;
}

.pagination__button:hover {
  color: #72B62B;
}


