.add-resume__checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.add-resume__checkbox:checked ~ .add-resume__checkmark {
  background-color: #72B62B;
  background-image: url('../../../images/checked.svg');
  background-position: center;
}
