.profile-org__input-error {
  margin: 3px 0 0 0;
  box-sizing: border-box;
  text-align: left;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #ff0000;
  display: block;
  max-width: 360px;
  min-height: 24px;
}
