# http://editorconfig.org


# Специальное свойство, которое должно быть указано в начале файла, за пределами

# всех секций. Установите значение true, чтобы остановить поиск файла конфигурации .editor на текущем файле.

root = true

[*]
# Стиль отступа

# Возможные значения - tab, space

indent_style = space

# Размер отступа в символах с одинарным интервалом

# Возможные значения - целое число, tab

indent_size = 2

# Формат файла с окончанием строки

# Возможные значения - lf, crlf, cr

end_of_line = lf

# Кодировка символов файла

# Возможные значения - latin1, utf-8, utf-16be, utf-16le

charset = utf-8

# Указывает, обрезать ли пробелы в конце строк.

# Возможные значения - true, false

trim_trailing_whitespace = true

# Указывает, должен ли файл заканчиваться новой строкой

# Возможные значения - true, false

insert_final_newline = true
