@import url(./__button/header__button.css);
@import url(./__container-big/header__container-big.css);
@import url(./__container/header__container.css);
@import url(./__link/header__link.css);
@import url(./__logo/header__logo.css);

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1146px;
    margin: 0 auto;
    margin-top: 66px;
    padding-left: 22px;
    background: linear-gradient(90deg, #72B62B 0%, #57853C 100%);
    box-shadow: 0px 20px 24px rgba(113, 181, 41, 0.26);
    border-radius: 60px;
}



