@import url(./__box-field/add-resume__box-field.css);
@import url(./__checkbox/add-resume__checkbox.css);
@import url(./__checkmark/add-resume__checkmark.css);
@import url(./__column-container/add-resume__column-container.css);
@import url(./__container/add-resume__container.css);
@import url(./__container/_save-description/add-resume__container_save-description.css);
@import url(./__description/add-resume__description.css);
@import url(./__field-checkbox/add-resume__field-checkbox.css);
@import url(./__field/add-resume__field.css);
@import url(./__footer/add-resume__footer.css);
@import url(./__form/add-resume__form.css);
@import url(./__input-big/add-resume__input-big.css);
@import url(./__input-halfbig/add-resume__input-halfbig.css);
@import url(./__input/add-resume__input.css);
@import url(./__input/_size/add-resume__input_size.css);
@import url(./__label/add-resume__label.css);
@import url(./__load-button/add-resume__load-button.css);
@import url(./__load-container/add-resume__load-container.css);
@import url(./__load-img/add-resume__load-img.css);
@import url(./__main/add-resume__main.css);
@import url(./__save-description/add-resume__save-description.css);
@import url(./__save-img/add-resume__save-img.css);
@import url(./__select/add-resume__select.css);
@import url(./__select/_fullsz/add-resume__select_fullsz.css);
@import url(./__string-container/add-resume__string-container.css);
@import url(./__sublabel/add-resume__sublabel.css);
@import url(./__subtitle-contact/add-resume__subtitle-contact.css);
@import url(./__subtitle/add-resume__subtitle.css);
@import url(./__title/add-resume__title.css);
@import url(./save-button/add-resume__save-button.css);

.add-resume {
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 83px;
}


