.tender__hover {
  position: absolute;
  right: 0;
  width: 198px;
  height: calc(100% - 61px);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0 37px;
  padding-bottom: 20px;
  border-left: 1px solid #CEECAF;
  opacity: 0;
}

.tender__hover:first-child() {
  margin-bottom: 31px;
}

.tender__hover_slider {
  right: 30px;
  height: 178px;
  padding: 0 0 0 37px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tender__hover_slider:first-child() {
  margin-bottom: 0;
}